<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: head">


</head>
<body>
<h1>Creat Product</h1>
<form th:action="@{/create}" th:object="${product}" method="post">
    <table id="product">
        <tr>
            <td>Name:</td>
            <td><input type="text" th:field="*{name}"></td>
        </tr>
        <tr>
            <td>Price:</td>
            <td><input type="text" th:field="*{price}"></td>
        </tr>
        <tr>
            <td>Category:</td>
            <td><input type="text" th:field="*{category}"></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="submit" value="Create product">
                <a href="/products">Exit</a>
            </td>
        </tr>
    </table>
</form>
</body>
</html>